abstra==1.15.3
alembic==1.11.2
altgraph==0.17.3
annotated-types==0.5.0
anyio==3.7.1
assemblyai==0.15.1
async-timeout==4.0.3
bardapi==0.1.28
beautifulsoup4==4.12.2
bidict==0.22.1
browser-cookie3==0.19.1
bs4==0.0.1
cachetools==4.2.4
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cloudpickle==2.2.1
colorama==0.4.6
colour==0.1.5
contourpy==1.1.1
cryptography==41.0.4
cssselect2==0.7.0
customtkinter==5.2.0
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
distlib==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastapi==0.96.1
filelock==3.12.4
fire==0.5.0
Flask==2.2.2
Flask-Cors==4.0.0
flask-sock==0.6.0
fonttools==4.43.1
google-api-core==1.34.0
google-auth==1.35.0
google-cloud-core==1.7.3
google-cloud-translate==2.0.1
googleapis-common-protos==1.59.1
greenlet==2.0.2
grpcio==1.56.2
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
kiwisolver==1.4.5
lxml==4.9.3
lz4==4.3.2
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
multipart==0.2.4
networkx==3.1
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
parso==0.8.3
pefile==2023.2.7
Pillow==10.0.0
platformdirs==3.10.0
playsound==1.3.0
plotly==5.16.0
progress==1.6
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.12
pydantic_core==2.4.0
pygame==2.4.0
Pygments==2.16.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
PyJWT==2.8.0
pyparsing==3.1.1
pypdf==3.14.0
PySimpleGUI==4.60.5
python-dateutil==2.8.2
python-dotenv==0.13.0
python-engineio==4.5.1
python-multipart==0.0.5
python-socketio==5.8.0
pywin32-ctypes==0.2.2
redis==4.6.0
reflex==0.2.4
reportlab==4.0.4
requests==2.31.0
rich==13.5.2
rsa==4.9
simple-websocket==0.10.1
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
starlette==0.27.0
starlette-admin==0.9.0
svglib==1.5.1
tenacity==8.2.3
termcolor==2.3.0
tinycss2==1.2.1
tqdm==4.66.1
ttkbootstrap==1.10.1
typer==0.4.2
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.24.5
watchdog==2.3.1
watchfiles==0.19.0
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.3
wsproto==1.2.0
